@charset="utf-8";

.boxed {
  border: 3px solid #f05f40;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}
